*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

:root {
	--ff-main: "MgaRegular";
}

body {
	display: flex;
	height: 100vh;
	font-family: var(--ff-main);
}

.cover {
	flex-basis: 35%;
	background: black;
}

.content {
	background: linear-gradient(
		90deg,
		rgba(255, 217, 0, 0.336),
		rgb(168, 167, 167)
	);
	flex-basis: 65%;

	display: flex;
	flex-direction: column;
}

.content > * {
	flex: 1;
	outline: 1px solid black;
}

.intro {
	display: flex;
	align-items: flex-end;
	padding: max(4rem, 20px);
}

.intro--text {
	max-width: 75%;
}
